<div class="contents-container">
    <h2>Save a video</h2>
    <form method="post" action="/videos">
        <label for="title">Title</label>
        <input type="text" name="title" value={{description}}> {{#if error}}
        <span class="error">{{error}}</span>
        {{/if}}
        <textarea name="description" cols="30" rows="10">{{description}}</textarea>
        <button type="submit" class="submit-button">Save</button>
    </form>
</div>