<div class="contents-container">
    <h2>Save a video</h2>
    <form method="post" action="/videos">
        <input type="text" name="title">
        <textarea name="description" cols="30" rows="10"></textarea>
        <button type="submit" class="submit-button">Save</button>
    </form>
</div>